nav{
    display: inline;
    padding: 2% ;
}
#homeLink{
    display: inline;
    padding: 2% ;
}
#recipesLink{
    display: inline;
    padding: 2% ;
}
#aboutLink{
    display: inline;
    padding: 2% ;
}